nav#taxonomies.sidebar-item ul li{
    list-style-type: none;
}

#products{
    max-width: 700px;
}

ul#mainMenuBar li a{
    text-decoration: none;
    color:white;
    font-size: 22px;

}

ul#mainMenuBar li a:hover{
    /*color: #ff9600;*/
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(255, 92, 92, 0);
    border-top: 5px solid #ff9600;
}

ul#mainMenuBar li.current a{

}

.mainMenuBarItem{
    padding-right: 45px;
}

nav#taxonomies li{list-style-type: none;}
nav#taxonomies li a{color: #50A2F3; font-size: 30px;}
nav#taxonomies li a:hover{color: black; border-top: 5px solid #FFF;}
nav#taxonomies li.current a{color: black}


.original{

    font-size: 12px;
    text-decoration: line-through;
}

.strikeThroughPrice{
    font-family: helvetica;
    font-size: 18px;
    color : #3fb8b6;
    text-decoration: line-through;
}

.productTitle{
    font-size: 25px;
}















